{
  "rules": {
    // Tests can import things in devDependencies.
    // See https://github.com/benmosher/eslint-plugin-import/issues/422
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ]
  }
}