{
  // using Airbnb and Flow best recommendations
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  // to handle ES7's static properties in React component
  // https://github.com/gajus/eslint-plugin-flowtype#installation
  "parser": "babel-eslint",
  // Enable Flow type linting
  "plugins": [
    "flowtype"
  ],
  // To prevent "'window' is not defined" or "'document' is not defined"
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  // overriding certain rules because it drives me nuts
  "rules": {
    // allow `else` on new line
    // http://eslint.org/docs/rules/brace-style
    "brace-style": [
      "error",
      "stroustrup"
    ],
    // Allow JSX on `.js`
    // See https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-filename-extension.md
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    // `// @flow` must exist on the top of all files
    "flowtype/require-valid-file-annotation": [
      2,
      "always",
      {
        "annotationStyle": "line"
      }
    ],
    // To prevent this error: The href attribute is required on an anchor.
    // See https://github.com/evcohen/eslint-plugin-jsx-a11y/issues/340
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ]
      }
    ]
  }
}
